<!DOCTYPE html>
<html>
  <head>
    <title>DIC cafe</title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/contact.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="section_inner" id="app">
      <div class="section_title">
        <h1>CONTACT</h1>
        <p>お問い合わせ</p>
      </div>
      <common-modal v-if="modalView" :message="errorMessage" @close="hideModal"></common-modal>
      <p v-if="!validation" class="alert_color">{{ errorMessage }}</p>
      <form action="#" method="POST" id="form">
        <table class="contact" id="table">
          <tr class="contact_line">
            <td class="contact_sign"><label for="name">お名前</label></td>
            <td class="contact_input">
              <input v-model="formData.name" type="text" name="name" id="name">
            </td>
          </tr>
          <tr class="contact_line">
            <td class="contact_sign"><label for="name">地域</label></td>
            <td class="contact_input">
              <select v-model="formData.region">
                <option v-for="region in regions" :key="region.id">{{ region.name }}</option>
              </select>
            </td>
          </tr>
          <tr class="contact_line">
            <td class="contact_sign"><label for="name">Eメール</label></td>
            <td class="contact_input">
              <input v-model="formData.email" :class="errorClass" type="email" name="email" id="email" autocomplete="off">
            </td>
          </tr>
          <tr class="contact_line">
            <td class="contact_sign"><label for="name">Eメール(確認)</label></td>
            <td class="contact_input">
              <input v-model="formData.emailConfirm" :class="errorClass" type="email" name="email_confirm" id="email_confirm"  autocomplete="off">
            </td>
          </tr>
          <tr class="contact_content" id="content_field">
            <td class="contact_sign"><label for="content">内容</label></td>
            <td class="contact_input">
              <textarea v-model="formData.content" name="content" id="content"></textarea>
            </td>
          </tr>
        </table>
        <div v-if="!confirmView" class="contact_btn_area">
          <button type="reset" class="contact_btn reset_btn">リセット</button>
          <button @click.prevent="openCheckArea" type="submit" class="contact_btn submit_btn">確認</button>
        </div>
      </form>
      <section v-if="confirmView" class="contact_confirm">
        <h2>ご記入内容の確認</h2>
        <p><span class="bold">お名前:　</span><span>{{ formData.name }}</span></p>
        <p><span class="bold">地域:　</span><span>{{ formData.region }}</span></p>
        <p><span class="bold">Eメール:　</span><span>{{ formData.email }}</span></p>
        <p><span class="bold">Eメール(確認):　</span><span>{{ formData.emailConfirm }}</span></p>
        <p><span class="bold">内容:　</span><span>{{ formData.content }}</span></p>
        <div class="contact_btn_area">
          <button @click="closeCheckArea" class="contact_btn reset_btn">閉じる</button>
          <button type="submit" class="contact_btn submit_btn">送信</button>
        </div>
      </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="javascripts/validation.js"></script>
  </body>
</html>